<mat-card>
<h1>Pecan Producers <b>tools</b></h1>
  <mat-card class="graft">
        <ul>
            <li>Tool box</li>
            <li>1 ¼" nails</li>
            <li>Pruners</li>
            <li>Hammer</li>
            <li>Flagging</li>
            <li>Cloth ties</li>
            <li>Graft wood</li>
            <li>Pocket knife</li>
            <li>Wood lathes</li>
            <li>Masking tape</li>
            <li>Rubber bands</li>
            <li>Aluminum foil</li>
            <li>Electrical tape</li>
            <li>Flair writing pen</li>
            <li>Cooler & ice pack</li>
            <li>Sandwich baggies</li>
            <li>Bow saw/chainsaw</li>
            <li>#18 x ⅝" wire nails</li>
            <li>Glasses (if needed)</li>
        </ul>

  </mat-card>

<app-tool-video></app-tool-video>

</mat-card>
