.image-container {
  padding: 0px;
  max-height: 450px;
  overflow: hidden;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  }

.pecan-logo {
 width: 100%;
 margin: 0px;
 }

 .card-container {
  font-size: 18px;
  color: #000000;
  max-width: 1500px;
}

// GRANDPA QUOTE
.container-header {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-line {
  flex: 1;
}

.container-title {
  font-size: 25px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.quote-card {
  width: 50%;
  display: flex;
  box-shadow: none;
  border: transparent;
  background: transparent;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0px;
  font-size: 15px;
  color: #204638;
  margin: auto;
  justify-content: flex-end;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 590px) {
  .quote-card {
    justify-content: center;
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  .narrow1 {
    display: block
  }
}
