<footer>

    <div class="title">Get in Touch!</div>

    <div class="contact">
    <mat-card class="icons">
      <a target="_blank" href="mailto:jenhalv06@gmail.com">
        <img src="/assets/Images/Email_Icon.png" alt="Email Jen"/>
        <div class="text1">Email</div>
          <div class="text2">jenhalv06@gmail.com</div>
      </a>
      </mat-card>

      <mat-card class="icons">
      <a href="tel:9136201902">
        <!-- <mat-icon>smartphone</mat-icon> -->
        <img src="/assets/Images/Text_Icon.png" alt="Text Jen"/>
        <div class="text1">Text</div>
          <div class="text2">913-620-1902</div>
      </a>
    </mat-card>
    </div>

  <div class="copyright">&copy;Jennifer Halvorson 2020</div>

</footer>
