footer {
  background-color:  #ece4df;
  text-align: center;
  font-size: 11px;
}

mat-card-footer {
  width: 100%;
  margin: 0px;
}

.fa {
  font-size: 40px;
  padding: 20px;
  text-decoration: none;
  color: #58504e;
}

.fa:hover {
  opacity: 0.7;
}

.fa-mobile {
  font-size: 55px;
  vertical-align: -5px;
}
