<footer>

  <base target="_blank"/>

  <a href="mailto:jenhalv06@gmail.com">
      <mat-icon fontSet="material-icons-outlined" alt="Email Jen">email</mat-icon></a>

  <a href="tel:9136201902">
      <mat-icon alt="Text Jen">smartphone</mat-icon></a>

  <a href="https://www.instagram.com/jenhalvorson2">
      <img src="/assets/Images/Social/Instagram_Icon.png" alt="Jen's instagram"/></a>

<span class="narrow"></span>

  <a href="https://twitter.com/jenhalvorson2">
      <img src="/assets/Images/Social/Twitter_Icon.png" alt="Jen's Twitter"></a>


  <a href="https://www.facebook.com/jennifer.d.halvorson/">
      <img src="/assets/Images/Social/Facebook_Icon.png" alt="Jen's Facebook"/></a>

  <a href="https://www.linkedin.com/in/jennifer-halvorson-portfolio2020">
      <img src="/assets/Images/Social/LI_Icon.png" alt="Jen's Linked In"/></a>

  <a href="https://www.pinterest.com/jenhalvorson/">
      <img src="/assets/Images/Social/Pinterest_Icon.png" alt="Jen's Pinterest"/></a>

  <mat-card-footer>&copy;Jennifer Halvorson 2020</mat-card-footer>

</footer>
