footer {
  background-color:  #ece4df;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 0px 15px 15px 15px;
}

mat-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

img {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}

mat-card-footer {
  font-size: 11px;
  margin: 10px 0px 0px 0px;
}
