<footer>

  <base target="_blank"/>

    <a href="tel:9136201902" class="fa fa-mobile" alt="Text Jen"></a>
    <a href="mailto:jenhalv06@gmail.com" class="fa fa-envelope" alt="Email Jen"></a>
    <a href="https://twitter.com/jenhalvorson2" class="fa fa-twitter" alt="Jen's Twitter"></a>
		<a href="https://www.linkedin.com/in/jennifer-halvorson-portfolio2020" class="fa fa-linkedin" alt="Jen's Linked In"></a>
		<a href="https://www.instagram.com/jenhalvorson2" class="fa fa-instagram" alt="Jen's instagram"></a>
    <a href="https://www.pinterest.com/jenhalvorson/" class="fa fa-pinterest" alt="Jen's Pinterest"></a>
    <a href="https://www.facebook.com/jennifer.d.halvorson/" class="fa fa-facebook" alt="Jen's Facebook"></a>

    <!-- <a href="#" class="fa fa-youtube"></a> -->

  <mat-card-footer>&copy;Jennifer Halvorson 2020</mat-card-footer>


</footer>
