.mat-card {
  box-shadow: none;
  background-color: transparent;
  padding: 10px 3px;
  display: flex;
}

.mat-card-title {
  line-height: 24px;
}

.mat-card-content {
  margin-bottom: 0px;
}


.fa-mobile {
  font-size: 60px;
  margin-left: 5px;
  line-height: .72;
  color: #58504e;
}

.fa:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  text-align: right;
}

