.mat-card {
  max-width: 800px;
  margin: auto;
}

.mat-card-title {
  margin-bottom: 12px;
}

.mat-card-subtitle {
  margin-left: 10px;
}

.article {
  overflow: hidden;
  margin-bottom: 0px;
  height: 244px;
}
