<mat-card *ngFor="let card of CARDS">

      <mat-card-title>
        <a href="https://lsc-pagepro.mydigitalpublication.com/publication/?m=39199&i=619377&p=18&ver=html5">
          Pecans</a>
      </mat-card-title>

      <mat-card-subtitle>
        By: Jan Wiese-Fales<br>
        <a href="https://mdc.mo.gov/conmag/2019-10/pecans">MDC Magazine</a><br>
        Publish Date: Oct 01, 2019<br>
      </mat-card-subtitle>

    <img mat-card-image src="assets/Images/About/MC1.jpg" alt="magazine pages 1 and 2" />

<mat-card-content [class.article]="!this.card.collapsed">
  Long before humans set foot in North America, pecan trees (Carya illinoinensis) flourished in Missouri. The tree’s presence played a key role in the development of the flood plain forest community in which it took root, an influence that continues today. Our native nut’s early ancestors originally enjoyed widespread distribution in North America, Europe, and Asia. But the pecan as we know it took permanent hold only in the moist, loamy soils of the Mississippi River Valley and its wetlands — from Illinois to Texas and into Mexico.<br><br>

  "There are still native stands of pecans in Missouri," said MDC Natural Areas Coordinator Mike Leahy. "There are stands at Donaldson Point Conservation Area (CA), near New Madrid, and by Brunswick in Chariton County. The Four Rivers Conservation Area in Bates and Vernon counties is also a huge area with native pecans.  Horton Bottoms Natural Area (NA) in Four Rivers is pretty unique," Leahy said. "Three rivers come together, so there is a pretty large flood plain with the alluvial soils that pecans prefer. Flood plain systems not converted to agriculture are important to native pecan stands."<br><br>

  <img mat-card-image src="assets/Images/About/MC2.jpg" alt="magazine pages 3 and 4" />

  <h2>ADAPTATION</h2>
  Sun-loving pecan trees can grow 70 to 100 feet tall and frequently live up to 200 years or longer, out-competing other flood plain species when given enough sun as young trees. Most of the flood-tolerant pecan tree’s absorptive roots are within 2 feet of the surface, but the numerous large anchor roots of a mature tree can reach a depth of 20 feet in flood plain soils.<br><br>
  Pecan trees are a wind-pollinated species that produce both male and female flowers. Because the male and female flowers on each tree bloom at different times, pecans rely on their neighbors for pollination and nut production. Because of this adaptation, native pecan seedlings benefit from genes from both parent trees and typically are well-adapted to changing local conditions. Such diversity aids in disease and insect resistance. Pecan nuts are encased in a thin husk, called a shuck. When ripe, the shuck splits open in four sections, exposing the smooth, brown and black-shelled nuts. Pecans float, which means they are more likely to be carried away from parent trees by floodwaters.<br><br>
  When combined with those relocated by birds and squirrels, this movement results in an expanded pecan distribution and increased genetic diversity within a forest system. Many animals eat pecans, which provide crucial nutrition to survive winter. The trees also are a host tree for many moths and insects, providing meals for birds and their hatchlings.<br><br>
  According to Leahy, Horton Bottoms NA is an important habitat for native bird species like the prothonotary warbler as well as many migratory species.<br><br>
  "Pecan trees offer birds a broad canopy and also form hollow open spaces for cavity nesting," he said.<br><br>

  <h2>NATIVE MAN AND NATIVE NUT CROSS PATHS</h2>
  Native Americans made important use of pecans in their diets for thousands of years. Two handfuls of shelled pecans provide 718 calories, 9.7 grams of protein, 2.4 grams of fiber, 74 grams of fat, and significant doses of critical micronutrients — excellent nutritional value in return for a small amount of labor. In addition to being a healthy, high protein, high carbohydrate food source for Native Americans, pecans also were portable and could be stored for up to a year in a cool dry place.<br><br>
  "Indians primarily ate pecans whole — in many ways this was the food’s greatest allure," wrote James McWilliams in his book, A History of America’s Native Nut, adding that the nuts also were pounded into a powder, added to corn gruel and bread, and nut meal was worked into bison meat. He also noted evidence that Mississippian Indians used pecans for trade with other Indian groups whose migratory paths intersected their own.<br><br>
  "There’s a lot of anecdotal information about Native Americans using and moving pecans," Leahy said. "The Osage Village Historic Site is 6 air miles from the Horton Bottoms NA within Four Rivers. The Osage undoubtedly utilized pecans."<br><br>

  <h2>PECANS "DISCOVERED" AND ASSIMILATED</h2>
  The words pecan and hickory originated as Native American words that meant "nuts cracked by a rock." Pecan’s scientific designation, illinoinensis, refers to the region where American and English explorers first "discovered" the nuts. Don Kurz, author of MDC’s Trees of Missouri, wrote that pecans were first referred to as "Illinois nuts" or "Mississippi nuts." American traders and fur trappers returned with pecans from the "Illinois Country," the area around the Mississippi and Ohio rivers that now encompasses Ohio, Indiana, Illinois, and parts of Kentucky. Spanish and French explorers and settlers had known of pecans for two centuries before.<br><br>
  By the end of the 18th century, settlers had joined early and notable horticulturists George Washington and Thomas Jefferson in successfully planting pecan trees east of the Appalachians beyond their native range.<br><br>
  Most native pecan trees don’t produce a dependable crop of pecans every year because of masting, a process through which trees produce very large crops of thin-shelled nuts every few years, thus overwhelming the likelihood of people and animals eating every nut. However, as a result of the pecan’s genetic diversity, some trees in the forest produce more nuts with more dependability.<br><br>Locating more nut-producing wild trees and improving grafting techniques first developed in the early 1800s boosted nascent nut commercialization efforts in the late 19th and early 20th centuries.<br><br>
  Pecan wood is an attractive hardwood, used to make such things as furniture, tool handles, and flooring. However, because it is more difficult to work with than many other hardwoods, pecan trees in later years were left standing by loggers.<br><br>

  <img mat-card-image src="assets/Images/About/MC3.jpg" alt="magazine pages 5 and 6" />

  <h2>MISSOURI’S PECAN ECONOMY</h2>
  Up to 95 percent of the world’s pecans are grown in this country. Texas and Georgia — the latter with no native trees — are the top producers.<br><br>
  According to USDA National Agricultural Statistics Service 2017, Missouri contributed 0.4 percent to total U.S. pecan production in 2015. That year, pecans ranked 24th in Missouri’s total commodity cash receipts at slightly more than $2.4 million.<br><br>
  Native trees — rather than grafted varieties — account for more than 80 percent of Missouri’s total bearing and nonbearing production pecan grove acreage. Vernon, Bates, and Chariton counties dominate production.<br><br>
  <b>Certified Missouri organic pecan growers Paul and Peggy Droz have a 100-acre pecan farm in Bates County near Rich Hill where Paul grew up.<br><br>
  "I'd go to my grandparents as a boy and pick up pecans with them. Now my son has a home in that area, and I pick up pecans with my grandchildren," Droz said. "I think that’s pretty neat."<br><br>
  Pecan trees are an alternate bearing species, which means the mast, or nut production, is heavy one year and light the next. There is no consensus on why this occurs.<br><br>
  "In 1955 and 1956, when I was a kid, there were two back-to-back bumper crops in Bates and Vernon counties," Droz said. "That’s when they started to be a real commodity here. That really got people’s attention."<br><br>
  Droz said most of his best pecans are natives but he also does what he calls "top work," or grafting.<br><br>
  "When grafting, you want to use the best varieties you can find because that tree might be there for 150 years — generations," Droz said. "Grafting guarantees the variety of pecan that will grow on that tree; cloning if you will. I’ve found that some varieties I’ve grafted over my lifetime do better in the uplands; some do better in the flood plain. That just comes with trial and error."<br><br>
  When looking for scion wood — a young shoot or twig of a plant — to use in a graft, he takes several things into consideration.<br><br>
  "All pecans have their own characteristics. Nut size is down on the list," he said. "You go out and find your best native, a tree that shows good production, one that is physically and structurally sound. Some trees are more disease-resistant, some nuts are more flavorful, and some have good cracking characteristics. And down to the nitty-gritty, the grooves in the nutmeat — with some, you have to pick the shell out."</b><br><br>

  <h2>GIRDLERS, SHUCKWORMS, AND WEEVILS</h2>
  Growing pecan nuts is not without its challenges. Missouri is at the northern edge of the native pecan range with frosts potentially damaging flowers in the spring and before the nuts have time to mature in the fall. In addition to competing with a variety of wildlife for the harvest, pecans are subject to pecan scab, a fungus that destroys the shucks, rendering the crop worthless.<br><br>
  <b>"The pecan gets all of its nutrients from the shuck and the shuck protects it," said Droz. "Scab is more prevalent in wet years, and in the river bottoms where you have much more humidity — not so much in the uplands where there’s a breeze."<br><br>
  Pecans are a favored food for a number of insects, including twig girdlers, hickory shuckworms, and pecan weevils.<br><br>
  "Insect damage can be significant," Droz said. "The pecan weevil is the biggest pest."<br><br>
  Pecan weevils are hard-shelled little beetles that puncture immature nuts to feed on developing kernels causing them to shrivel, turn black, and drop the nuts prematurely. Additionally, weevil larvae hatched from eggs laid within newly formed kernels feed on otherwise healthy nuts, only to be discovered after harvest.<br><br>
  "You’re going to lose the same amount of the crop no matter what its size. A small crop is no crop," Droz said. Mast years with large numbers of pecans overwhelm the ability of insect pests and animals to destroy seeds needed to reproduce new trees.</b><br><br>
  Wayne Lovelace, president of Forrest Keeling Nursery in Elsberry, said that pecans had been the native plant nursery’s number one specialty crop until being surpassed by pawpaws last year.<br><br>
  "The trend now is that people are getting more particular about what they eat and Missouri native plants like pecans, pawpaws, persimmons, and other nuts fit the trend," Lovelace said.<br><br>
  "Most of our work with pecans has been for conservation: reforestation, bottomland restoration, and for planting by communities and in parks," he said. "We start these market seedlings from native seed. Commercial orchard growers prefer grafted varieties."<br><br>
  Native pecan forests and groves can be very important pecan producers. Perhaps more important, native pecan forests are reservoirs of genetic diversity to overcome future disease and insect pests. Protection of native pecan trees at places like Four Rivers CA could be very important in the future to keep pecan trees and forests healthy.<br><br>

  PECAN MACROS<br>
  <i>Serving size is two handfuls</i><br>
    <ul>
      <li>718 calories</li>
      <li>9.7g protein</li>
      <li>2.4g fiber</li>
      <li>74g Fat</li>
    </ul>

  <h2>The Missouri Conservationist is a monthly mail-order magazine available free to Missourians. Out-of-state subscriptions are $7 and out-of-country subscriptions are $10 per year.  Click <a href="https://mdc.mo.gov/conmag">here</a> for more information and access to archived magazines.</h2>

</mat-card-content>

<mat-card-actions align="end">
  <button mat-button class="read-more" (click)="this.card.collapsed = !this.card.collapsed">Read {{ card.collapsed ? 'less &#x25b2;' : 'more &#x25bc;'}}</button>
</mat-card-actions>

</mat-card>
