.mat-card {
  max-width: 800px;
  margin: 10px 7px;
}

.mat-card-title {
  margin-bottom: 12px;
}

.mat-card-subtitle {
  margin-left: 10px;
}

.article {
  overflow: hidden;
  margin-bottom: 0px;
  height: 271px;
}
