youtube-player {
  width: 575px;
  height: auto;
}
.video {
  max-width: 200px;
  height: auto;
}
.example-card {
  max-width: 600px;
  height: auto;
}
.example-header-image {
  background-image: url('https://www.youtube.com/watch?v=Naok1-Ec7OU');
  background-size: cover;
}
