.card-container {
  margin-top: 65px;
}

// .you-tube {
//   height: 250;
//   width: 500;
// }

h2 {
  padding: 10px 20px;
  font-size: 17px;
  line-height: 20px;
  flex-wrap: wrap;
  max-width: 1150px;
  height: auto;
  margin-bottom: 0px;
}

.demo-video-selection {
  margin-bottom: 20px;

  .mat-radio-button {
    margin: 8px;
  }
}
