<!-- MULTIPLE VIDEO EXAMPLE!!!  USER CHOOSES THE VIDEO TO VIEW
https://stackblitz.com/edit/youtube-player-demo?file=src%2Fapp%2Fyoutube-player-demo%2Fyoutube-player-demo.component.ts -->

<div class="card-container">

<!-- TOOLS VIDEO -->
<!-- <div class="video"> -->

  <youtube-player videoId="vdaT268gyrY">
  </youtube-player>

  <h2>Paul recommends a list of inexpensive tools to have readily available for grafting pecan trees.<br><br>
  <a href="https://firebasestorage.googleapis.com/v0/b/paulspecans.appspot.com/o/Grafting%20Tool%20List.pdf?alt=media&token=bbc7b773-59aa-4ec4-b5cb-f12fd02ec58f">CLICK HERE<mat-icon>print</mat-icon></a>for a printable version.</h2>

<!-- </div> -->

</div>

