<!-- MULTIPLE VIDEO EXAMPLE!!!  USER CHOOSES THE VIDEO TO VIEW
https://stackblitz.com/edit/youtube-player-demo?file=src%2Fapp%2Fyoutube-player-demo%2Fyoutube-player-demo.component.ts -->

<!-- <youtube-player
  videoId="ZL2IVs1kbHY"
  suggestedQuality="highres"
  [height]="250"
  [width]="500">
</youtube-player>

<youtube-player
  videoId="lhi7drXFdos"
  suggestedQuality="highres"
  [height]="250"
  [width]="500">
</youtube-player> -->

<div class="card-container">
  <div class="page">

    <!-- HEADER PICTURES -->
<!--
        <youtube-player
  videoId="lhi7drXFdos"
  suggestedQuality="highres">
</youtube-player> -->

          <!-- <youtube-player
          videoId="ZL2IVs1kbHY"
          suggestedQuality="highres"
          [height]="250"
          [width]="500">
        </youtube-player> -->

        <!-- <youtube-player [videoId]="selectedVideo && selectedVideo.id"
        [width]="videoWidth" [height]="videoHeight"></youtube-player> -->

<!--
      <h2>Paul "Pop" Droz began grafDroz.&nbsp;&nbsp;Together they plant visit our <a href="/about-pecans">About</a> page.
      </h2> -->
      <youtube-player
      videoId="lhi7drXFdos"
      suggestedQuality="highres">
    </youtube-player>
          <h2>Paul "Pop" Droz began grafDroz.&nbsp;&nbsp;Together they plant visit our <a href="/about-pecans">About</a> page.
          </h2>
</div>
</div>

