
      <!-- <mat-card class="tool-list">
          <mat-card-title class="tool-title">Experience</mat-card-title>
          <youtube-player videoId="-6YXS1Qi7QY"></youtube-player>
          <mat-card-content>Grafting video #1</mat-card-content>
        </mat-card> -->

<!-- <youtube-player videoId="-6YXS1Qi7QY"></youtube-player> -->

<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Video #1</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <youtube-player class="video" videoId="-6YXS1Qi7QY"></youtube-player>
    <mat-card-content>
      <p>
        Paul introduces the tools...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->


<!-- <youtube-player
  videoId="-6YXS1Qi7QY"
  suggestedQuality="highres"
  [height]="600"
  [width]="1080"
  [startSeconds]="13"
  [endSeconds]="60">
</youtube-player> -->

