<mat-toolbar>
  <mat-toolbar-row>

<!-- MOBILE VIEW -->

    <app-sidenav></app-sidenav>

<!-- DESKTOP VIEW -->

<button fxShow="true" fxHide.lt-md="true" mat-icon-button routerLink="" alt="home page" aria-label="home page">
    <mat-icon class="home">home</mat-icon></button>

  <a routerLink="" class="header">Paul's Pecans</a>

    <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">

        <a class="navigation" routerLink="/about-pecans" routerLinkActive="active" aria-label="about page">
          <span>About</span>
        </a>

        <a class="navigation" routerLink="/product" routerLinkActive="active" aria-label="product page">
          <span>Product</span>
        </a>

        <a class="navigation" routerLink="/tradition" routerLinkActive="active" aria-label="tradition page">
          <span>Tradition</span>
        </a>

        <a class="navigation" routerLink="/contact" routerLinkActive="active" aria-label="contact page">
          <span>Contact</span>
        </a>

      </div>

  </mat-toolbar-row>
</mat-toolbar>
