:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: fixed;
  z-index: 1000;
}

mat-toolbar {
  height: 55px;
  width: 100%;
  background-color: #204638;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 1px;
}

a {
  text-decoration: none;
}

.navigation:hover {
  background-color: #58504e;
  cursor: pointer;
}

.navigation:focus {
  background-color: #58504e;
  cursor: context-menu;
}

a.active {
  background-color: #58504e;
  cursor: context-menu;
}

.header {
  color: #ece4df;
  font-size: 30px;
  font-weight: 300;
  margin: 0px 5px 0px 0px;
  padding: 5px;
}

.mat-icon {
    padding: 0px;
}

.mat-menu-content:not(:empty) {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ece4df;
}

mat-menu-content ng-tns-c83-0 {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ece4df;
}

.mat-menu-panel {
  background: #ece4df;
}

.navigation {
  color: #ece4df;
  margin-left: 25px;
  margin-right: 9px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  padding: 5px;
}

.home {
  color: #ece4df;
  font-size: 35px;
  width: 30px;
  height: 28px;
  line-height: 30px;
  vertical-align: text-bottom;
  padding: 5px;
}

.spacer {
  flex: 1 1 auto;
}
