<mat-toolbar>
  <mat-toolbar-row>

<!-- MOBILE VIEW -->

    <app-sidenav></app-sidenav>

<!-- DESKTOP VIEW -->

<button fxShow="true" fxHide.lt-md="true" mat-icon-button routerLink="">
    <mat-icon class="home">home</mat-icon>
  </button>
  <a routerLink="" class="header">Paul's Pecans</a>

    <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true" class="buttons">

        <a class="navigation" routerLink="/about-pecans">
          <span>About</span>
        </a>

        <a class="navigation" routerLink="/product">
          <span>Product</span>
        </a>

        <a class="navigation" routerLink="/tradition">
          <span>Tradition</span>
        </a>

      </div>

  </mat-toolbar-row>
</mat-toolbar>
