h1 {
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
  padding: 45px 5px 5px 5px;
  margin: auto;
  text-align: center;
}

.card-container {
  align-items: center;
  padding-bottom: 25px;
  max-width: 600px;
  justify-content: space-around;
}

.mat-card {
  box-shadow: none;
  display: flex;
  border-radius: 0px;
  justify-content: center;
  background-color: transparent;
}
