<h1>$$&nbsp;&nbsp;Payment Options&nbsp;&nbsp;$$</h1>

    <mat-card class="payment-pics">

    <mat-card class="payments1">
        <a target="_blank" href="https://www.paypal.com">
        <img class="paypal-pic" src="/assets/Images/Paypal_small.png" alt="paypal"/></a>
        <mat-card-header>
            <mat-card-title class="text1">Find me on PayPal:</mat-card-title>
            <mat-card-subtitle class="text2">jenhalv06@gmail.com</mat-card-subtitle>
          </mat-card-header>
      </mat-card>

      <mat-card class="payments2">
          <mat-card-header>
              <mat-card-title class="text3">Mail a check to:</mat-card-title>
              <mat-card-subtitle class="text4">Jennifer Halvorson<br>
                568 SW CO RD 7508<br>
                Rich Hill, MO 64779</mat-card-subtitle>
            </mat-card-header>
            <mat-icon fontSet="material-icons-outlined">markunread_mailbox</mat-icon>
        </mat-card>

      </mat-card>
