<h1>$$&nbsp;&nbsp;Payment Options&nbsp;&nbsp;$$</h1>

<div class="card-container">

  <div>

<app-paypal></app-paypal>

    <mat-card class="payments1">
        <i class="fa fa-money fa-3x" aria-hidden="true" alt="cash"></i>
        <mat-card-header class="cash">
          <mat-card-title class="text2">Paying in Person?</mat-card-title>
          <mat-card-subtitle class="text3">Cash works!</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

  </div>

  <app-mail></app-mail>



</div>
