.title {
  font-size: 28px;
  line-height: 25px;
  font-weight: 500;
  width: auto;
  height: auto;
  display: flex;
  padding: 45px 5px 5px 5px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.payment-pics {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 5px solid black;
}

.mat-card-subtitle {
  margin-bottom: 6px;
  }

.payments1 {
  display: flex;
  padding: 0px 30px 30px 30px;
}

.payments2 {
  display: flex;
  padding: 0px 70px 30px 0px;
}

.paypal-pic {
  width: 70px;
  height: auto;
  padding: 0px;
}

.mat-card {
  box-shadow: none;
  border-radius: 0px;
  display: flex;
  background-color: transparent;
}

.mat-card-image:first-child {
  margin-top: 0px;
  margin: 0px 0px 0px 0px
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: -5px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.text1 {
  margin: 6px 0px 3px -10px;
}

.text2 {
  margin: 0px -10px;
}

.text3 {
  margin: 5px -10px;
}

.text4 {
  text-align: right;
  margin: 5px -10px;
}

a {
  text-decoration: none;
}

/* Responsive Styles */
@media only screen and (max-width: 290px) {
  .payments1 {
    display: block;
  }
  .payments2 {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .payments1 {
    padding: 0px 10px 30px 10px;
  }

  .payments2 {
    padding: 0px 20px 30px 0px;
  }
}
