<mat-card-title>PRICING</mat-card-title>
<mat-card-footer>** Pricing & availability subject to change. **</mat-card-footer>

<mat-grid-list class="grid-title" cols = "4" rowHeight = "30px">
<mat-grid-tile class="grid-title1"
[colspan] = "1"
[rowspan] = "1">POUNDS
</mat-grid-tile>

<mat-grid-tile class="grid-title1"
[colspan] = "1"
[rowspan] = "1">PRICE
</mat-grid-tile>

<mat-grid-tile class="grid-title1"
[colspan] = "1"
[rowspan] = "1">S&H
</mat-grid-tile>

<mat-grid-tile class="grid-title2"
[colspan] = "1"
[rowspan] = "1">TOTAL
</mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="grid-text" cols = "4" rowHeight = "30px" *ngFor="let price of PRICE">
<mat-grid-tile class="grid-text1"
[colspan] = "1"
[rowspan] = "1">{{price.pounds}}
</mat-grid-tile>

<mat-grid-tile class="grid-text1"
[colspan] = "1"
[rowspan] = "1">{{price.price}}
</mat-grid-tile>

<mat-grid-tile class="grid-text1"
[colspan] = "1"
[rowspan] = "1">{{price.shipping}}
</mat-grid-tile>

<mat-grid-tile  class="grid-text2"
[colspan] = "1"
[rowspan] = "1" >{{price.total}}
</mat-grid-tile>
</mat-grid-list>
