.product-header {
  text-align: center;
  background: transparent;
  font-size: 45px;
  line-height: 35px;
  font-weight: 700;
  padding-top: 25px;
}

.quote-card {
  max-width: 600px;
  height: auto;
  display: flex;
  font-weight: 500;
  font-size: 11px;
  opacity: 60%;
  margin: auto;
  justify-content: flex-end;
  padding-right: 3px;
  flex-wrap: wrap;
  height: 31px;
}

mat-grid-tile {
  background: #ece4df;
  opacity: 75%;
 }

mat-grid-list {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
 }

.grid-title {
    max-width: 600px;
    height: auto;
  }

.grid-title1 {
    font-weight: 700;
    font-size: 15px;
    border: 1px solid black;
    box-sizing: border-box;
  }

.grid-title2 {
    font-weight: 700;
    font-size: 17px;
    border: 1px solid black;
    box-sizing: border-box;
  }

.grid-text {
  max-width: 600px;
  height: auto;
}

.grid-text1 {
  font-size: 15px;
  border: 1px solid black;
  box-sizing: border-box;
}

.grid-text2 {
  font-size: 17px;
  font-weight: 700;
  border: 1px solid black;
  box-sizing: border-box;
}

// OVERWRITE DESIGN STYLES
.mat-card-header .mat-card-title {
  margin-bottom: 0px;
}

.mat-card {
  transition: box-shadow 0ms cubic-bezier(0);
  padding: 0px;
  border-radius: 0px;
  background-color:transparent;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

.mat-card-image {
  margin: 0px;
}
