<div class="card-container">

    <!-- <h1>Pecan Producers <b>pruning</b></h1> -->
  <div class="graftwood-container">

<app-pruning-photo-card></app-pruning-photo-card>

  <mat-card>
      <mat-card-content>Pruning a pecan tree should take place at the end of winter, just before the new buds form, to help promote strong, thick branches and force energy to the grafted section.&nbsp;&nbsp;A graft’s first-year growth should be kept around 24” tall to prevent wind blowouts.&nbsp;&nbsp;Prune off about one-third of the limbs below the graft.&nbsp;&nbsp;Leaving some limbs below the graft restricts the newly grafted area from growing too fast.&nbsp;&nbsp;Leaving a few limbs on the south/southwest side shades the trunk, preventing sun scalding/sunburn.<br><br>In subsequent years, continue pruning the top of the tree to a central leader and remove or shorten limbs below the graft.&nbsp;&nbsp;If more than one bud grows from the bud stick, leave only the growth coming from the strongest bud to form the new top of the tree.&nbsp;&nbsp;After four years, remove all shoots below the graft.</mat-card-content>

       <app-pruning-video></app-pruning-video>

    <img mat-card-image class="line" src="\assets\Images\line.jpg"/>

  </mat-card>

    <!-- <app-pruning-photo-card1></app-pruning-photo-card1> -->



</div>
<mat-card-actions align="end">
  <button mat-button (click)="onClickScroll('top')">Back to Top</button>
</mat-card-actions>
</div>
