<div class="card-container">
  <div class="graftwood-container">

  <mat-card>
    <h1>Pecan Producers <b>pruning</b></h1>

      <mat-card-content>Pruning a pecan tree should take place at the end of winter, just before the new buds form, to help promote strong, thick branches and help direct energy to the grafted section. </mat-card-content>
      <img mat-card-image class="pop" src="https://firebasestorage.googleapis.com/v0/b/paulspecans.appspot.com/o/Website%20Images%2FDad_Pruning.jpg?alt=media&token=ea373389-6f86-4601-8754-8e198f17d576" alt="Paul Pruning"/>
      <mat-card-footer>Paul ~ Winter Pruning ~ 2021</mat-card-footer>


  </mat-card>

  <mat-card>

       <app-pruning-video></app-pruning-video>

    <img mat-card-image class="line" src="\assets\Images\line.jpg"/>

  </mat-card>
</div>
</div>
