.card-container {
  display: block;
  margin: 10px auto;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 20%);
  max-width: 1100px;
}

h1 {
  margin-bottom: 0px;
  padding: 10px 0px 0px 15px;
  color: #58504e;
}

.graftwood-container {
  display: flex;
  align-items: center;
  padding: 10px 10px 0px 10px;
}

.mat-card {
    color: #58504e;
    border-radius: 0px;
    box-shadow: none;
    background: transparent;
    max-width: 590px;
}

button {
  padding: 1px 6px;
  cursor: pointer;
  background-color: black;
  line-height: 25px;
  color: white;
}

.mat-card-content {
  padding: 15px 0px 0px 0px;
}

mat-card-actions {
  margin-right: 8px;
}

.line {
  opacity: 0;
 }

 @media screen and (max-width: 376px) {
  h1 {
    font-size: 22px;
    }
 }

  @media screen and (max-width: 952px) {
  .graftwood-container {
    display: block;
  }
}


