h1 {
  padding-top: 75px;
  text-align: center;
  font-size: 35px;
}

form {
  background: white;
	margin: 10px auto 25px auto;
	padding: 15px;
	max-width: 400px;
  border-radius: 4px;
  border: 5px #58504e solid;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 1px rgba(0, 0, 0, 0.14), 0px 2px 6px 1px rgba(0, 0, 0, 0.12);
}

mat-form-field {
  display: block;
  padding: 0;
  border-top: 0;
}

input {
  padding: 10px 0px 0px 0px;
  font-size: 15px;
}

// input[type="text"]:invalid,
// input[type="email"]:invalid,
// textarea:invalid {
//   background-color: rgba(0, 0, 0, 0.1);
// }

.fa {
  font-size: 20px;
  padding: 0px 5px 0px 0px;
}

.fa-pencil {
  padding: 0px 0px 0px 5px;
}

form label {
	font-size: 20px;
  padding-bottom: 5px;
}

textarea.mat-input-element {
  font-size: 15px;
  margin: 0;
}

form button {
  display: block;
  font-size: 19px;
  margin: auto;
  border: none;
  padding: 12px 20px;
  background-color: #214738;
  color: #ece4df;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  max-width: 490px;
  transition: 0.2s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

form button:hover {
  background-color: #30735e;
}
