<h1>Contact Us!</h1>

<form id="contactForm">

  <i class="fa fa-user"></i>
    <label for="name">Name</label>
      <input id="name" type="text" placeholder="name" required/>

  <i class="fa fa-envelope"></i>
    <label for="email">Email</label>
      <input id="email" type="email" placeholder="email" required/>

  <i class="fa fa-pencil fa-flip-horizontal"></i>
    <label for="">Message</label>
      <textarea id="message" placeholder="message" matInput cdkTextareaAutosize required></textarea>

  <button type="submit">Submit</button>
  <!-- <button [disabled]="contactForm.invalid" (click)="onSubmit()" (click)="clearForm()" type="submit">Submit</button> -->

</form>
