.card-container {
  margin-top: 35px;
}

.mat-card {
  background: none;
  max-width: 855px;
  height: auto;
  box-shadow: none;
  color: #58504e;
  padding-bottom: 15px;
}

mat-card-title {
  font-size: 40px;
  line-height: 40px;
}

.mat-card-subtitle {
  line-height: 20px;
  font-size: 17px;
  padding: 10px;
}
