<app-toolbar></app-toolbar>
<h1 class="coming-soon">COMING SOON!</h1>


<!-- <div class="card-container">
  <div class="card">
  <img mat-card-image class="card-image" src="assets/Images/tree1.jpg" alt="pecans on a tree">
  <img mat-card-image class="card-image" src="assets/Images/tree.jpg" alt="pecans on a tree">
  <img mat-card-image class="card-image" src="assets/Images/pecans1.jpg" alt="pecans">
  <img mat-card-image class="card-image" src="assets/Images/graft1.jpg" alt="Pop">
  <img mat-card-image class="card-image" src="assets/Images/grove1.jpg" alt="Pecan Grove">

Like members of the hickory and walnut family, pecans have long, compound leaves and husk-covered nuts. Unlike the walnut, the pecan husk splits at maturity to reveal the smooth, medium-brown oval nut, which makes it much easier to gather and process!  The nut of the pecan has its beginning in April and May when the flowers appear.  All summer long, the nuts develop, and by the end of October, they are usually ready to harvest.  Many Missourians say “pih-KAHN” or “pah-KAHN.”


</div>
</div> -->
