.tool-container {
  display: block;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 20%);
  padding: 10px;
  max-width: 530px;
  margin: auto;
  border-radius: 0px;
}

h1 {
  margin-bottom: 0px;
  padding: 0px 0px 0px 5px;
  color: #58504e;
}

.mat-card {
 padding: 0px 16px;
 background: transparent;
 box-shadow: none;
}

.mat-card-image {
  mask-image: linear-gradient(to bottom, transparent 15%, black 55%);
  margin: -260px -16px 0px -16px;
 }

button {
  padding: 1px 6px;
  cursor: pointer;
  background-color: black;
  line-height: 25px;
  color: white;
  z-index: 5;
}

mat-card-actions {
  text-align: right;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 600px) {
  .tool-container {
margin: 30px auto;
  }
}
