.card-container {
  display: block;
}

.mat-card {
  margin: 40px 7px;
  color: #58504e;
  max-width: 600px;
  padding: 16px 16px 0px 16px;
}

.mat-card-image {
  border-radius: 4px;
  mask-image: linear-gradient(to bottom, transparent 15%, black 55%);
 }

 .mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: -5px;
}
