<div class="card-container">

  <mat-card>

    <img mat-card-image src="/assets/Images/logo_round_green.png" alt="Paul's Pecans logo"/>

    <mat-card-title>Have a question?</mat-card-title>
    <!-- <mat-card-subtitle>We will return your message within 24-48 hours.</mat-card-subtitle> -->
    <mat-card-subtitle>Please contact Jennifer after reviewing our pricing, shipping, and ordering information.
    </mat-card-subtitle>

    <app-contact-info></app-contact-info>

  </mat-card>

  <div class="container">
    <img class="pose" src="/assets/Images/Pop_Jen.jpg" alt="Pop and Jen"/>
    <div class="bottom-centered">Pop & Jen at the grove between their homes.</div>
    <div class="caption">Pop & Jen at the grove between their homes.</div>
  </div>

</div>
