<div class="card-container">

<mat-card class="card">
<mat-card-title class="recipe-header">Our Favorite Recipes</mat-card-title>
<mat-card-subtitle class="recipe-subheader">These tasty nuts can be used in desserts, salads, breads and more, but don’t forget to enjoy a handful of raw pecans for a heart-healthy & delightful snack!</mat-card-subtitle>
</mat-card>

<div class="card-container">
  <mat-card class="project-card" fxLayoutAlign="space-around" fxLayout="column" *ngFor="let card of CARDS">

  <mat-card-title class="recipe-title">{{card.title}}</mat-card-title>

  <mat-card-subtitle class="recipe-subtitle">Ingredients:</mat-card-subtitle>
    <mat-card-content [innerHTML]="card.ingredients">{{card.ingredients}}</mat-card-content>

  <mat-card-subtitle class="recipe-subtitle">Directions:</mat-card-subtitle>
    <mat-card-content [innerHTML]="card.directions">{{card.directions}}</mat-card-content>

  <img mat-card-image [src]="card.image" [alt]="card.imageAlt"/>

  </mat-card>
</div>

</div>
