<div class="card-container">
  <mat-card>
    <h1>Pecan Producers <b>purpose of grafting</b></h1>

    <h3>Grafting a pecan tree is a special technique that helps with variety selection and rapid production.  By grafting the scionwood/graftwood from a mature, producing parent tree onto the trunk (root system/rootstock) of another tree, the newly grafted tree will produce nuts that are identical to the parent tree.  The newly grafted tree will also begin producing pecans at a much faster rate. A native tree may not produce pecans for 15 years, but a younger grafted tree can begin producing pecans within a few years because it takes on the producing traits of the parent tree!</h3>

    <app-purpose-video></app-purpose-video>

    <img mat-card-image src="\assets\Images\line.jpg"/>

  </mat-card>
</div>
