<div class="card-container">

  <div class="container-header">
    <div class="container-line"><mat-divider></mat-divider></div>
    <div class="container-text">What We Do</div>
    <div class="container-line"><mat-divider></mat-divider></div>
  </div>

  <mat-card class="project-card" *ngFor="let card of CARDS">

    <img mat-card-image [src]="card.image" [alt]="card.imageAlt" />

    <mat-card-header class="project-header">
      <mat-card-title class="project-title">{{card.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="project-content">{{card.content}}
    </mat-card-content>


    <mat-card-actions align="end">
      <button mat-button class="read-more" (click)="this.card.collapsed = !this.card.collapsed">Learn More</button>
    </mat-card-actions>

  </mat-card>

</div>
