.card-container {
  max-width: 1500px;
  margin-bottom: 15px;
}

.mat-card {
  max-width: 280px;
  margin: 15px;
  border: transparent;
  border-radius: 0px;
}

.mat-card-content {
  margin-bottom: 0px;
}

.mat-card-header {
  display: block;
}

button {
  padding: 1px 6px;
  cursor: pointer;
  background-color: black;
  line-height: 25px;
  color: white;
}
