<div class="card-container">
  <mat-card *ngFor="let card of CARDS">

    <img mat-card-image [src]="card.image" [alt]="card.imageAlt" />

    <mat-card-title>{{card.title}}</mat-card-title>

    <mat-card-content>{{card.content}}</mat-card-content>

    <mat-card-actions align="end">
      <button mat-button [routerLink]="[card.path]" [aria-label]="[card.label]">Learn More</button>
    </mat-card-actions>

    <!-- <mat-card-actions align="end">
      <button mat-button (click)="info(card)">Learn More</button>
    </mat-card-actions> -->

  </mat-card>
</div>
