.card-container {
  font-size: 18px;
  color: #000000;
  width: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  font-family: 'Montserrat', sans-serif;
}

// GRANDPA QUOTE
.container-header {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-line {
  flex: 1;
}

.container-title {
  color: #204638;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.quote-card {
  width: 50%;
  // max-width: 986px;
  display: flex;
  box-shadow: none;
  border: transparent;
  background: transparent;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0px;
  font-size: 15px;
  color: #204638;
  margin: auto;
  justify-content: flex-end;
  padding-right: 6px;
  flex-wrap: wrap;
}

// INDIVIDUAL INFO CARDS
.project-card {
  max-width: 280px;
  padding-top: 0px;
  margin: 15px;
  margin-top: 25px;
  margin-bottom: 30px;
  border: transparent;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
}

.card-image {
  width: 100%;
}

a {
  color: black;
}

a:visited {
  color: inherit;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.mat-card-header .mat-card-title {
  margin-bottom: 7px;
  font-family: 'Montserrat', sans-serif;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

:host ::ng-deep a:visited {
  color: inherit;
}

.mat-card-image {
  margin: 0 -16px;
}

.mat-card-content {
  margin-bottom: 0px;
  padding: 5px 0px;
  font-family: 'Montserrat', sans-serif;
}

.learn-more {
    color: white;
    cursor: pointer;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    align-content: flex-end;
}

.mat-action-row {
  padding: 0px;
}

.mat-card-actions {
padding: 0px;
}
.mat-button {
  padding: 1px 6px;
  font-family: 'Montserrat', sans-serif;
}

/* Responsive Styles */
@media only screen and (max-width: 290px) {
  .project-card {
    max-width: 200px;
  }
}
@media only screen and (max-width: 590px) {
  .quote-card {
    justify-content: center;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .narrow1 {
    display: block
  }
}
