<mat-card>
  <mat-card-content>

      <a href="mailto:jenhalv06@gmail.com" class="fa fa-envelope" alt="Email Jen">
      <mat-card-title class="font">Email</mat-card-title>
      <mat-card-subtitle class="font">jenhalv06@gmail.com</mat-card-subtitle>
    </a>


    <a href="tel:9136201902" class="fa fa-mobile" alt="Text Jen">
      <mat-card-title class="font">Text/Call</mat-card-title>
      <mat-card-subtitle class="font">913-620-1902</mat-card-subtitle>
    </a>
  </mat-card-content>
</mat-card>
