<div class="card-container">
    <mat-card>
        <mat-card-content>
        <a target="_blank" href="mailto:jenhalv06@gmail.com">
            <mat-icon fontSet="material-icons-outlined" alt="Email Jen">email</mat-icon>
            <mat-card-title>Email</mat-card-title>
            <mat-card-subtitle>jenhalv06@gmail.com</mat-card-subtitle>
        </a>

        <a href="tel:9136201902">
            <mat-icon alt="Text Jen">smartphone</mat-icon>
            <mat-card-title>Text/Call</mat-card-title>
            <mat-card-subtitle>913-620-1902</mat-card-subtitle>
        </a>
        </mat-card-content>
      </mat-card>
</div>
