.card-container {
  display: block;
}

.mat-card {
  max-width: 375px;
  color: #58504e;
  margin: 40px 7px;
  border-radius: 0px;
}

.mat-card-image {
  width: calc(90% + 32px);
}

mat-card-footer {
  max-width: 600px;
  display: flex;
  font-size: 11px;
  opacity: 60%;
  margin: auto;
  justify-content: flex-end;
  padding-right: 3px;
}

.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;
}

.StepProgress::before {
  content: '';
  position: absolute;
  left: 15px;
  height: 100%;
  border-left: 2px solid #CCC;
}

.StepProgress-item {
position: relative;
}

.StepProgress-item:not(:last-child) {
padding-bottom: 20px;
}

.StepProgress-item::before {
content: '';
position: absolute;
left: -30px;
height: 103%;
width: 10px;
}

.StepProgress-item::after {
content: '';
position: absolute;
top: 0;
left: -37px;
width: 12px;
height: 12px;
border: 2px solid #CCC;
border-radius: 50%;
background-color: #FFF;
}

//line @current month
.StepProgress-item.current::before {
  border-left: 2px solid #58504e;
}

//circle @current month
.StepProgress-item.current::after {
  background-color: #58504e;
  border: 2px solid #58504e;
}

// TIMELINE

h1 {
  color: #58504e;
}

.container {
  overflow: hidden;
}

.timeline-content {
  color: #58504e;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
}

.timeline-content span {
  font-size: 15px;
  color: #a4a4a4;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}

@media screen and (max-width: 768px) {
  .container:before {
     left: 8px;
     width: 2px;
  }
  .timeline-block {
     width: 100%;
     margin-bottom: 20px;
  }
  .timeline-block-right {
     float: none;
  }

  .timeline-block-left {
     float: none;
     direction: ltr;
  }
}

@media screen and (max-width: 1036px) {
.mat-card {
  margin-top: 10px;
}
}
