.click {
  text-underline-position: under;
  padding-bottom: 4px;
  cursor: pointer;
}

.box {
  display: flex;
}
.info {
  display: block;
}
p:before {
  content: '✓';
  color: #888;
  padding-right: 5px;
}

p {
  font-size: 15px;
  line-height: 20px;
  word-spacing: 1px;
  color: #888;
}

.mat-card {
  max-width: 1075px;
  color: #58504e;
  margin: 40px 7px;
  border-radius: 0px;
}

.mat-card-image {
  width: 270px;
  margin: 0px 5px -5px 5px;
}

mat-card-footer {
  max-width: 600px;
  display: flex;
  font-size: 11px;
  opacity: 60%;
  margin: auto;
  justify-content: flex-end;
  padding-right: 3px;
}

button {
  padding: 1px 6px;
  cursor: pointer;
  background-color: black;
  line-height: 25px;
  color: white;
}

.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;
}

.StepProgress::before {
  content: '';
  position: absolute;
  left: 15px;
  height: 100%;
  border-left: 2px solid #CCC;
  top: 5px;
}

.StepProgress-item {
position: relative;
column-count: 2;
}

.StepProgress-item:not(:last-child) {
padding-bottom: 20px;
}

.StepProgress-item::before {
content: '';
position: absolute;
left: -30px;
height: 102%;
width: 10px;
top: 5px;
}

.StepProgress-item::after {
content: '';
position: absolute;
top: 0px;
left: -37px;
width: 12px;
height: 12px;
border: 2px solid #CCC;
border-radius: 50%;
background-color: #FFF;
margin-top: 5px;
}

//line @current month
.StepProgress-item.current::before {
  border-left: 2px solid #58504e;
}

//circle @current month
.StepProgress-item.current::after {
  background-color: #58504e;
  border: 2px solid #58504e;
}

.StepProgress-item.no-pic {
column-count: 1;
}

// TIMELINE

h1 {
  color: #58504e;
}

.container {
  overflow: hidden;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.timeline-content {
  column-count: 1;
}

@media screen and (max-width: 625px) {
  .StepProgress-item {
    column-count: 1;
    }
}

@media screen and (max-width: 1036px) {
.mat-card {
  margin-top: 10px;
}
}
