<div class="card-container">

<mat-card>

  <h1>Pecan Producers <b>timeline</b></h1>

    <ul class="StepProgress">

           <li class="StepProgress-item current">
               <div class="timeline-content">
                <h3>January - March</h3>
                <p>Dormant<br>
                 Prune/thin branches<br>
                 Collect scionwood/graftwood<br>
                 Pick late fallen pecans</p>
                 <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/paulspecans.appspot.com/o/Website%20Images%2Ftree_winter.jpg?alt=media&token=915b1def-6119-40a6-a204-b18c5e47e006" alt="Snow on the pecan grove"/>
                 <mat-card-footer>Pecan Grove ~ Winter</mat-card-footer>

             </div>
           </li>

           <li class="StepProgress-item">
            <div class="timeline-content">
              <h3>April</h3>
              <p>Budbreak<br>
              Grafting Window</p>
            </div>
           </li>

          <li class="StepProgress-item">
              <div class="timeline-content">
                  <h3>May</h3>
                  <p>Pollination</p>
                  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/paulspecans.appspot.com/o/Website%20Images%2Ftree_spring.jpg?alt=media&token=5cc09f32-ec17-4122-9ca8-21bb0a80cedb" alt="Spring in the pecan grove"/>
                  <mat-card-footer>Pecan Grove ~ Spring</mat-card-footer>


               </div>
          </li>

          <li class="StepProgress-item">
              <div class="timeline-content">
                  <h3>June - August</h3>
                  <p>Nut elongation and expansion</p>
               </div>
          </li>

          <li class="StepProgress-item">
              <div class="timeline-content">
                  <h3>September - October</h3>
                  <p>Shell Hardening<br>
                   Kernel Development<br>
                   Shucks Split</p>
                   <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/paulspecans.appspot.com/o/Website%20Images%2Ftree_fall.jpg?alt=media&token=bec34962-3ed6-4e2e-9dfe-9466cc9e953d" alt="Fall on the pecan grove"/>
                   <mat-card-footer>Pecan Grove ~ Fall</mat-card-footer>

               </div>
          </li>

          <li class="StepProgress-item">
              <div class="timeline-content">
                  <h3>November - December</h3>
                  <p>HARVEST TIME!</p>
               </div>
          </li>

       </ul>


      </mat-card>

    </div>
