<div class="card-container">

  <mat-card class="info-box">

    <mat-card-title>Would you like to place an order?</mat-card-title>
    <mat-card-subtitle>Our pecan supply is limited and and may not be available.</mat-card-subtitle>
    <mat-card-content>Please <a target="_blank" href="mailto:jenhalv06@gmail.com">email</a> or <a href="tel:9136201902">text</a> Jennifer your name and the amount of pecans (1-5 pounds) you would like to purchase.&nbsp;&nbsp;Payment is due after your order has been finalized with us.
    </mat-card-content>

    <app-contact-info></app-contact-info>

  </mat-card>


    <img mat-card-image src="/assets/Images/shipping_pecans.jpg" alt="pecans in shipping box"/>


</div>
