<div class="card-container">
  <h1 class="card-title">Pecan Producers <b>graftwood</b></h1>

  <div class="graftwood-container">

  <mat-card fxLayoutAlign="space-around" fxLayout="column">
      <h1>Collecting <b>graftwood</b></h1>

      <mat-card-content>
        <ul>
            <li>Graftwood (or scionwood) is a shoot or twig collected from your desired variety parent/superior pecan tree.</li>

            <li>Determine the type of pecan you want to produce based on the:
              <ul><li>size of the pecan,</li>
              <li>the quality of the nut meat,</li>
              <li>and how easily it cracks in a mechanical cracker.</ul></li>

            <li>For ideal graftwood, choose small limbs from trees that have two-year growth.</li>

            <li>Bundle up to cut graftwood in <b>late February/early March</b>, the dormant season.</li>

            <li>Have small and large pruners on hand to cut limbs.</li>

            <li>Cut a variety of graftwood sizes (from pencil thin to the size of a fat marker: 1/4-inch to 1/2-inch in diameter) to fit different tree trunks.</li>

            <li>Cut the graftwood in lengths of 8-10 inches, looking for at least three buds on your graftwood to indicate where new growth will begin.</li>

            <li>Refer to the Storing Graftwood section of our website to properly protect your graftwood.</li>

        </ul>

      </mat-card-content>

      <app-collecting-graftwood-video></app-collecting-graftwood-video>

      <img mat-card-image src="\assets\Images\line.jpg"/>

  </mat-card>

  <mat-card fxLayoutAlign="space-around" fxLayout="column">
    <h1>Storing <b>graftwood</b></h1>

    <mat-card-content>
      <ul>
          <li>Graftwood should be processed the same day it is collected to prevent the graft sticks from drying out.</li>

          <li>You will need:</li>
              <ul>
              <li>graftwood pieces</li>
              <li>candle wax</li>
              <li>damp paper towels</li>
              <li>baggies</li>
              <li>sharpie/marker</li>
              <li>refrigerator</li>
              </ul>

          <li>After dipping the freshly cut ends of your graftwood in candle wax, wrap a small bundle in a damp paper towel and store in a baggie.</li>
          <li>The variety of pecan and the current year should be labeled on the baggie.</li>
          <li>Refrigerate the bags of graftwood until late April/early May. </li>
          <li>Throw away any graftwood leftover from last winter (it can’t be used after one year). </li>
          <li>Do not place graftwood in a refrigerator that also stores fruit (especially apples).  Fruit gives off ethylene gas that can kill your graftwood.</li>

      </ul>

    </mat-card-content>

    <app-storing-graftwood-video></app-storing-graftwood-video>

    <img mat-card-image src="\assets\Images\line.jpg"/>

  </mat-card>
</div>
