<div class="image-container">

    <img mat-card-image class="pecan-logo" alt="Paul's Pecans logo" src="\assets\Images\Logo_Small1.jpg">

</div>
<img mat-card-image class="logo" alt="Paul's Pecans logo" src="\assets\Images\logo_round_green.png">

<div class="card-container">
    <div class="container-header">
       <div class="container-line"><mat-divider></mat-divider></div>
       <span class="container-title">“We’re growing the best pecans on the planet!”</span>
       <div class="container-line"><mat-divider></mat-divider></div>
    </div>

    <mat-card class="quote-card">~&nbsp;Grandpa Glenn Droz<span class="narrow1"></span>&nbsp;&nbsp;1913-1997</mat-card>
</div>


