.matMenu {
  padding: 0px;
  background: #ece4df;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mat-hamburger-icon {
  background: #ece4df;
  margin-right: 10px;
}

.mat-menu-item {
  height: 50px;
}

.menu-links{
  color: black;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

