.matMenu {
  padding: 0px;
  background: #ece4df;
}

.mat-hamburger-icon {
  background: #ece4df;
  margin-right: 10px;
}

.mat-menu-item {
  background: #ece4df;
  line-height: 30px;
  height: 30px;
}

.menu-links{
  color: black;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
