<div class="product-page">
  <div class="image-container">

    <img mat-card-image class="pecan-logo" src="\assets\Images\pecans1.jpg"/>
  </div>

  <div class="product-header">
      <div class="container-line"><mat-divider></mat-divider></div>PRICING
    <div class="container-line"><mat-divider></mat-divider></div>

      <mat-card class="quote-card">** Pricing & availability subject to change. **</mat-card>
     </div>


<mat-grid-list cols = "4" rowHeight = "20px" class="grid-title">

  <mat-grid-tile class="title"
  [colspan] = "4"
  [rowspan] = "1">
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="grid-subtitle" cols = "4" rowHeight = "30px">
<mat-grid-tile class="grid-subtitle1"
  [colspan] = "1"
  [rowspan] = "1">POUNDS
  </mat-grid-tile>

  <mat-grid-tile class="grid-subtitle1"
  [colspan] = "1"
  [rowspan] = "1">PRICE
  </mat-grid-tile>

  <mat-grid-tile class="grid-subtitle1"
  [colspan] = "1"
  [rowspan] = "1">S&H
  </mat-grid-tile>

  <mat-grid-tile class="grid-subtitle2"
  [colspan] = "1"
  [rowspan] = "1">TOTAL
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="grid-text" cols = "4" rowHeight = "30px" *ngFor="let price of PRICE">

    <mat-grid-tile class="grid-text1"
    [colspan] = "1"
    [rowspan] = "1">{{price.pounds}}
    </mat-grid-tile>

    <mat-grid-tile class="grid-text1"
    [colspan] = "1"
    [rowspan] = "1">{{price.price}}
    </mat-grid-tile>

    <mat-grid-tile class="grid-text1"
    [colspan] = "1"
    [rowspan] = "1">{{price.shipping}}
    </mat-grid-tile>

    <mat-grid-tile  class="grid-text2"
    [colspan] = "1"
    [rowspan] = "1" >
    {{price.total}}
    </mat-grid-tile>

</mat-grid-list>

<br>

    <div class="small-title">Payment Options</div>

    <div class="payment-pics">

    <mat-card class="payments">
        <a href="https://www.paypal.com">
        <img class="paypal-pic" src="/assets/Images/Paypal_Icon.png" alt="Email Jen"/></a>
        <div class="text">Find me on PayPal<br>
         jenhalv06@gmail.com</div>
      </mat-card>

      <mat-card class="payments">
        <div class="text">Mail a check payable to:<br>
            Jennifer Halvorson<br>
            568 SW County Road 7508<br>
            Rich Hill, MO 64779
            </div>
            <img class="mailbox-pic" src="/assets/Images/Mailbox_Icon.png" alt="Text Jen"/>
    </mat-card>
  </div>



<!-- <div class="product-header">payment</div> -->
<!--
   <mat-grid-list class="grid-text" cols = "2" rowHeight = "30px" gutterSize="1px">

      <mat-grid-tile class="grid-text2"
      [colspan] = "1"
      [rowspan] = "2">Payment Options
      </mat-grid-tile>

      <mat-grid-tile class="grid-text1"
      [colspan] = "1"
      [rowspan] = "1">22
      </mat-grid-tile>

      <mat-grid-tile class="grid-text1"
      [colspan] = "1"
      [rowspan] = "1">22
      </mat-grid-tile>

  </mat-grid-list>
</div> -->



<!-- <div class="card-container">
    <div class="card">  <img class="card-image" src="assets/Images/bags.jpg" alt="baggies of pecans">We have different sizes of boxes available for various appetites, from individuals to families.

      Storage Info
Although pecans are often described as a semi-perishable product, proper storage techniques must be used to maintain good nut quality.  Pecans that won’t be consumed immediately will stay fresh well over a year if stored in a freezer.  Pecans can stay fresh for several days at room temperature in open bowls or for weeks if refrigerated.  Poor storage conditions often lead to darkening of the kernel and rancidity of the oils, thus destroying the delicious natural flavor and aroma of the nuts.

These tasty nuts can be used in desserts, salads, breads and more, but don’t forget to enjoy a handful of raw pecans for a heart-healthy & delightful snack!

The largest member of the hickory clan, pecan trees can grow to a height of over 100 feet tall.  My parents, Paul & Peggy Droz, have several trees on their property reaching these heights! The trees grow best in rich bottomland soils.  The Droz property in Rich Hill is adjacent to the Marais des Cygnes River and has an abundance of pecan, hickory, walnut, and other native Missouri trees.

</div>
</div> -->
