.card-container {
  display: block;
  margin-top: 35px;
}

// BANNER PECAN PHOTO
.background-image-container {
  max-height: 20px;
  width: 100%;
  }

.pecan-logo {
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100%;
  max-height: initial;
  margin: 0px;
  opacity: 20%;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
 }
