.product-page {
  background-color: #ece4df;
  display: block;
  margin: auto;
  width: 100%;
}

// BANNER PECAN PHOTO
.image-container {
  padding: 0px;
  max-height: 20px;
  margin-top: 0px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  }

.pecan-logo {
 width: 100%;
 max-height: initial;
 margin: 0px;
 opacity: 20%;
 -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
 mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
 }

.info-container {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: none;
  border: none;
  width: 100%;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.info-content {
  max-width: 700px;
  margin: 0px;
  padding: 5px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.info-title {
  padding: 0px 0px 0px 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: black;
  font-style: italic;
}

.info-text {
  padding: 0px 10px 0px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  max-width: 650px;
  color: black;
}

.safety-card {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  opacity: 60%;
  color: black;
  padding: 0px 10px 0px 20px;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

.mat-card-image {
  margin: 0px;
}

.jar {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 5px;
  border: white 7px solid;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-card {
  background: rgb(#ece4df,.7);
  margin: 7px;
}

.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: 10px;
}

.mat-card[_ngcontent-mvb-c128] > [_ngcontent-mvb-c128]:last-child:not(.mat-card-footer), .mat-card-content[_ngcontent-mvb-c128] > [_ngcontent-mvb-c128]:last-child:not(.mat-card-footer) {
  margin-bottom: 0px;
 }

@media only screen and (max-width: 325px) {
  .jar {
    width: 225px;
    margin: 5px;
    background: rgb(white,1);
  }
}

@media only screen and (max-width: 290px) {
  .jar {
    width: 165px;
    margin: 5px;
  }
}
