
  <div class="card-container">
    <img mat-card-image class="jar" src="/assets/Images/jar.png" alt="Jar of pecans"/>

    <mat-card>
      <mat-card-title>Purchase:</mat-card-title>
      <br>
      <mat-card-content>We sell shelled pecans for $15 per pound (pricing subject to change) to family and friends.&nbsp;&nbsp;If you are not local, we can ship your purchase via USPS anywhere in the US.&nbsp;&nbsp;Please review our pricing chart & contact information below.&nbsp;&nbsp;We are not a commercial food service and only sell what we have leftover after the majority of our crop has been sent to our bulk buyer.</mat-card-content>
      <br>
      <mat-card-title>Product:</mat-card-title>
      <br>
      <mat-card-content>Our pecans have been organically grown, handpicked, machine cracked, shelled, & rinsed (not soaked).&nbsp;&nbsp;If you choose to rinse your pecans again (removing any remaining pecan dust, fragments, & shell particles), let dry thoroughly in a single layer on paper towels before storing them.</mat-card-content>
      <br>
      <mat-card-title>Storage:</mat-card-title>
      <br>
      <mat-card-content>Although pecans are often described as a semi-perishable product, proper storage techniques must be used to maintain good nut quality.&nbsp;&nbsp;Pecans that won’t be consumed immediately will stay fresh well over a year if stored in an airtight baggie in the freezer.&nbsp;&nbsp;Pecans can stay fresh for several days at room temperature in open bowls or for weeks if refrigerated.&nbsp;&nbsp;Poor storage conditions often lead to darkening of the kernel and rancidity of the oils, thus destroying the delicious natural flavor and aroma of the nuts.</mat-card-content>
      <br>
      <mat-card-content class="safety-card">Safety Warning:&nbsp;&nbsp;Your shelled pecans may contain tiny pecan shell fragments.</mat-card-content>
    </mat-card>
  </div>
