<div fxShow="true" fxHide.gt-sm="true">
  <button class="small-icon" mat-icon-button [matMenuTriggerFor]="menu" alt="side navigation bar" aria-label="website menu">
    <mat-icon>menu</mat-icon>
  </button>

   <mat-menu class="matMenu" #menu="matMenu">

  <button class="mat-menu-item" mat-menu-item routerLink="" alt="home page" aria-label="home page" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-menu-item routerLink="/about-pecans" alt="about page" aria-label="about page" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
    <span class="menu-links">Production</span>
  </button>

  <button mat-menu-item routerLink="/product" alt="product page" aria-label="product page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <span class="menu-links">Pricing</span>
  </button>

  <button mat-menu-item routerLink="/tradition" alt="tradition page" aria-label="tradition page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <span class="menu-links">Tradition</span>
  </button>

  <button mat-menu-item routerLink="/contact" alt="contact page" aria-label="contact page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <span class="menu-links">Contact</span>
  </button>

</mat-menu>
</div>
