.mat-card {
  box-shadow: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1px;
  background: none;
}

.mat-card-title {
  margin-bottom: 0px;
  font-size: 20px;
}

.mat-card-subtitle {
  max-width: 270px;
  margin: 10px 0px;
  color: #ece4df;
}

.mat-icon {
  width: 35px;
  font-size: 35px;
  color: #ece4df;
  line-height: 1.8;
}

a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 370px) {
  .mat-card {
  display: block;
  }
}
