<mat-card>
    <h1>Pecan Producers <b>graftwood</b></h1>

    <mat-card-content>
      <ul>
          <li>Bundle up to cut graftwood in late February/early March.</li>

          <li>Determine the type of pecan you want to produce based on the size of the pecan, the quality of the nut meat, and how easily it cracks in a mechanical cracker.</li>

          <li>Have small and large pruners on hand to cut limbs.</li>

          <li>For ideal graftwood, choose small limbs from trees that have two-year growth.</li>

          <li>Cut a variety of graftwood circumference sizes (from pencil thin to the size of a fat marker) to fit different tree trunks.</li>

          <li>Look for buds on your grafwood to indicate where new growth will begin.</li>

          <li>Cut the graftwood in lengths of 8-10 inches and place in the refrigerator after waxing (lesson coming soon).</li>
      </ul>

    </mat-card-content>

    <app-graftwood-video></app-graftwood-video>

    <img mat-card-image src="\assets\Images\line.jpg"/>

</mat-card>


