<div class="card-container">
    <h1 class="card-title">Pecan Producers <b>grafting</b></h1>

    <div class="graftwood-container">
        <div class="jump" id="graft"></div>
    <mat-card fxLayoutAlign="space-around" fxLayout="column">
        <h1>Inlay <b>grafting</b></h1>

        <mat-card-content>
          Choose a young pecan tree roughly 2-4” in diameter (can be as tall as 15’ feet).  Cut off the top of the tree at a comfortable working height. Choose the flat side of the tree to make your graft and remove any rough bark with your knife, making the bark more pliable.
          <br><br>
          Select a piece of graftwood and make a sloping cut (2 ½” long) through the scion, making sure you remove the lowest bud on the graftwood. Take a few additional slices off the scion to create a shoulder at the top of the cut and a smooth, tapered ‘tongue’ towards the base of the stick. Next turn the scion over to carve the arrowhead point. Starting at a point near the base of the scion’s shoulder, shave a thin strip of bark off one side of the scion to expose the cambium along the edge of the stick.  Repeat the process on the other side of the scion to create an arrowhead shape. A strip of bark should remain down the center of the arrowhead.
          <br><br>
Hold the graftwood up to the stock tree and use your grafting knife to make a 2.5” long vertical slit through the bark on both sides of the graftwood. Next cut a small expansion joint in the middle of the two slits.  Using your knife, pull back the flap of the bark and slowly slide the graftwood down into the bark until the shoulder of the sloping cut touches the top of the stock.
<br><br>
Cut off the top part of the stock tree’s flap and secure the graftwood to the stock tree using a small nail. Cover the graft with aluminum foil.  Tear a small hole in the corner of a plastic sandwich bag and place the bag over the foil, securing it with some masking tape and add a colored flag.  Using a wood lathe and nails, secure a brace alongside the newly grafted area. Return to the graft in a month to tie the new growth to the brace.

        </mat-card-content>

        <app-inlay-graft-video></app-inlay-graft-video>

        <img mat-card-image src="\assets\Images\line.jpg"/>
        <mat-card-actions align="end">
            <button mat-button (click)="onClickScroll('top')">Back to Top</button>
          </mat-card-actions>
    </mat-card>


    <div class="jump1" id="four"></div>
    <mat-card fxLayoutAlign="space-around" fxLayout="column">
      <h1>Four-Flap <b>grafting</b></h1>

      <mat-card-content>
        Choose a young pecan tree ranging from 3-5 feet in height.  Cut off the top of the tree and place a rubber band on the trunk.  Make four evenly-spaced vertical incisions through the top of the stock, approximately two inches long.  Using the tip of your knife, separate each thinly-layered flap from the stock and carefully peel it away from the wood.  Using small clippers, clip out the wood on the inside of the flaps.
        <br><br>
        Find a piece of graftwood approximately the same diameter and trim 1/2 inch off the bottom of the graftwood to expose fresh, green wood.  Make a shallow cut approximately an inch long at the bottom end of the graftwood. Repeat this step three more times so that the scionwood has four evenly spaced cuts around its diameter, leaving a small strip of bark between each cut.
        <br><br>
        Place the graftwood inside the flaps, lining up each cut surface with a flap. Slide the rubberband up to hold the flaps in place and using electrical tape, secure the graftwood to the stock, wrapping the tape spirally up the stem, leaving a “pigtail” to make it easier to remove.
        <br><br>
        Tape a small brace alongside the newly grafted area and wrap it with a small piece of aluminum foil to protect the graft from sunburn.  Add a colored flag.
      </mat-card-content>

      <app-four-flap-graft-video></app-four-flap-graft-video>

      <img mat-card-image src="\assets\Images\line.jpg"/>
      <mat-card-actions align="end">
          <button mat-button (click)="onClickScroll('top')">Back to Top</button>
        </mat-card-actions>
    </mat-card>
  </div>
