.content {
background-color: #ece4df;
}

.mat-card {
  // background: rgb(#ece4df,.7);
  // border-radius: 0px;
  // box-shadow: none;
  margin: 0px 10px 15px 10px;
  max-width: 450px;
}

.mat-button {
  // background-color: pink;
  font-size: 14px;
  border: black solid 1px;
  margin: 15px;
}
// .mat-card-title {
//   padding-top: 15px;
//   font-size: 25px;
//   line-height: 29px;
// }
