.card-container {
  display: block;
}

.mat-card {
  background: #ece4df;
  height: auto;
  text-align: center;
  box-shadow: none;
  color: #58504e;
  justify-content: center;
  padding: 25px 5px;
}

.mat-card-title {
  font-size: 32px;
}

// .mat-card-subtitle {
//   max-width: 1100px;
//   font-size: 17px;
//   padding: 10px;
// }
