.card-container {
  margin-top: 35px;
}

.mat-card {
  background: transparent;
  height: auto;
  box-shadow: none;
  color: #58504e;
  justify-content: center;
  margin-top: 25px;
}

.mat-card-title {
  font-size: 32px;
}

// .mat-card-subtitle {
//   max-width: 1100px;
//   font-size: 17px;
//   padding: 10px;
// }
